.control-panel {
  @include flex();
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1.5rem;

  @include media-breakpoint-up(md) {
    margin-top: 0;
    width: 50%;
  }
}

.custom-button {
  font-family: $font-family-body !important;
  font-weight: $font-weight-normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: clamp(100px, 20vw, 110px);
  height: clamp(100px, 20vw, 110px);
  font-size: clamp(0.8rem, 4vw, 1rem);
  border-radius: 50%;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    opacity: 0.8;
  }

  // @include media-breakpoint-up {
  // }
}

// Custom styles for different button functionalities
.start-button {
  background-color: $primary-bg;
  color: $primary-color;
}

.pause-button {
  background-color: $ternary-bg;
  color: $ternary-color;
}

.reset-button {
  background-color: $danger-bg;
  color: $danger-color;
}

.set-timer-button {
  margin-top: 15px;
}
