.display {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-display {
  @include form-font-style;
  position: absolute;
  font-weight: 500;
  appearance: none;
  display: flex;
  align-items: flex-end;

  span {
    font-size: $base-font-size;
    text-align: center;
    display: inline-block;
    font-variant-numeric: tabular-nums;
    line-height: 1;

    @include media-breakpoint-up(md) {
      font-size: 4.25rem;
    }
  }

  .milliseconds {
    font-size: calc($base-font-size/2);
    line-height: 1.25;
    margin-left: 4px;

    @include media-breakpoint-up(md) {
      line-height: 1.45;
      font-size: 2rem;
    }
  }
}

.time-display-second {
  @include form-font-style;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  appearance: none;
  display: flex;
  align-items: flex-end;

  .time-label {
    @include center();
    flex-direction: column;
    gap: 5px;

    span:first-child {
      font-size: 1rem;
      margin-left: -5px;
    }

    &:nth-child(3) {
      span:first-child {
        margin-left: 0;
      }
    }
  }

  span {
    font-size: calc($base-font-size/3);
    text-align: center;
    display: inline-block;
    font-variant-numeric: tabular-nums;
    line-height: 1;
    color: $orange;

    @include media-breakpoint-up(md) {
      font-size: 1.75rem;
    }
  }
}
