// layout styles
html {
  overflow: visible;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include center();
  background-color: $black;
  color: $font-color;
  font-family: "Inter", sans-serif;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.stopwatch-page {
  @include center();
  flex-direction: column;
  gap: 75px;
  margin: auto;
  border: none;
  padding: 0 2rem;
  width: 100vw;
  padding: 0 0.75rem;
  height: 100vh;
  gap: 0;

  @include media-breakpoint-up(md) {
    // gap: 20px;
  }
}
