// breakpoints grid
@mixin media-breakpoint-up($breakpoint) {
  $min-width: map-get($breakpoints, $breakpoint);

  @media (min-width: $min-width) {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint) {
  $max-width: map-get(
    $breakpoints,
    $breakpoint
  ); // To ensure it doesn't overlap with the next breakpoint

  @media (max-width: $max-width) {
    @content;
  }
}

// flexbox
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin center() {
  @include flex();
  justify-content: center;
  align-items: center;
}

@mixin form-font-style {
  font-family: $font-family, sans-serif;
}
