// sass variables
// responsive breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// standard colors
$green: #0ae712;
$orange: #fabb3d;
$red: #ff1010;
$white: #fff;
$black: #000;
$gray: #8a8a8a;

$primary-color: $green;
$primary-bg: rgba($green, 0.2);

$secondary-color: $gray;
$secondary-bg: rgba($gray, 0.2);

$danger-color: $red;
$danger-bg: rgba($red, 0.2);

$ternary-color: $orange;
$ternary-bg: rgba($orange, 0.2);

$font-family: "Inter";
$font-family-body: "Inter";
$font-color: $white;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$letter-spacing: 0.5px;
$line-height: 1.5;

// layout variables
$btn-bg: $black;
$btn-bg-hover: $primary-bg;
